<html lang="fr">
<head>
	<title>Changement de mot de passe</title>
	<meta charset="utf-8">
</head>
	<body>
		<p>
			Bonjour!,<br/>
			Une demande de changement de mot de passe &agrave; &eacute;tait effectu&eacute; !<br/>
			Si cette demande ne vient pas de votre initiative n&apos;utilisez pas le lien si dessous:<br/>
			( la validiter du lien est limit&eacute; dans le temps !)<br/>
			<br/>
			<a href="{{ url }}">{{ url }}</a>
		</p>
	</body>
</html>