{% extends getView('pattern_index') %}

{% block title %}Edition Carousel - {{ parent() }}{% endblock %}


{% block container %}
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
		<ol class="breadcrumb fil_ariane img-thumbnail">
		  <li><a href="{{ router('index') }}">Accueil</a></li>
		  <li class="active">Edit Carousel</li>
		</ol>
	</div>

	<div class="container img-thumbnail page_model col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2" >
		<h3>Rajouter / enlever des images aux carousel</h3>
		<br/>
		<div>
			{{ controller("Upload_files#viewEdit", path ) }}
		</div>
		<hr/>
		<a class="btn btn-default" href="{{ router('carousel_add') }}" style="float:right;">Ajouter Images</a>
	</div>
{% endblock %}
