*,*:after,*:before
{
    margin:0px;
    padding:0px;
}

html, body
{
    height: 100%;
    overflow-x : hidden;
}
body
{
    background-color: #F8F8FF;
}

table th, .souligner
{
    text-decoration : underline;
}
p, div
{
    font-family: Helvetica, sans-serif;
}
legend
{
    text-align: center;
}
/*-------------------------------------------------------*/

header
{
    background-image: url("../img/design/ciel-bleu.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;
    text-align: center;
    margin: 0;
}
footer
{
    height: 100px; /* à titre d'exemple */
    text-align: center;
    position: relative;

    background-image: url("../img/design/ciel-bleu.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    background-color: rgb(61,108,164);
}

/* ---- HEADER ----*/
#header_logo
{
    background-image: url("../img/design/avenir84.png");
    background-size: 100% 100%;
    display:inline-block;
    text-align: center;
    width:180px;
    height:130px;
}
#header_epn{ display:none; }
#header_eric{ display:none; }
#header_form_mail{ display:none; }
#header_form_fb{ display:none; }
#header_form
{
    margin-top:10px;
    color:#FFF;
}
#header_form input
{
    display:inline;
}
#header_form input[type="search"]
{
    width:150px;
}
footer{ display:none; }

nav
{
    position: relative;
}

#menu,.menu_panel
{
    display:none;
}

#menu_mobile
{
    width:100%;
    margin:0px;
    padding:0px;
}
#menu_mobile h2
{
    width:100%;
    text-align: center;
    padding:10px;
    color:white;

    margin:0px;

    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}
#menu_mobile li
{
    padding:10px;
    text-align: center;
    font-size: 1.1em;
}
#menu_mobile ul
{
    list-style-type: none;
    display:none;
}

#panel_mobile0 h2
{
    background-color: #1A1A59;
    cursor: pointer;
}
#panel_mobile1 h2
{
    background-color: #FFA100;
    cursor: pointer;
}
#panel_mobile2 h2
{
    background-color: #BA0B0B;
    cursor: pointer;
}
#panel_mobile3 h2
{
    background-color: #6E8F08;
    cursor: pointer;
}
#panel_mobile4 h2
{
    background-color: #2E9C9C;
    cursor: pointer;
}
#panel_mobile5 h2
{
    background-color: #77D5D5;
    cursor: pointer;
}
#panel_mobile6 h2
{
    background-color: #FF7400;
    cursor: pointer;
}


@media (max-device-width:767px){
  #header_logo
  {
   position: absolute;
   left:50%;
   margin-left:-90px;
  }
  #header_form
  {
    margin-top:140px;
  }
}