<div class="row">
	<div class="container">
		<div id="admin" class="img-thumbnail col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			{% for i in menu|reverse %}
			<div class="menu_admin">
				<h3><a href="{{ router( i.router ) }}" >{{ i.titre }}</a></h3>
				<ul>
					{{ i.panel|raw }}
				</ul>
			</div>
			{% endfor %}
			<a href="{{ router('user_deco') }}" class="btn btn-warning" style="float:right;margin:5px;" >Deconnexion</a>


			<script type="text/javascript">
				$(document).ready(function()
				{
				
				});
			</script>
			<style type="text/css">
			#admin
			{
				margin-bottom:20px;
			}
			.menu_admin
			{
				float:left;
				padding:20px;
			}
			</style>
		</div>
	</div>
</div>