.blague { display: none; }

.float-right
{
    float:right;
}
.float-left
{
    float:left;
}
.fil_ariane
{
    width:100%;
    padding:10px;
}

.page_model
{
    position:relative;
    background-color: #FFF;
    padding:30px;
    margin-top:10px;
}


#article
{
    margin-top:20px;
    margin-bottom:50px;
}

.article
{
    padding:10px;
    overflow: hidden;
}

.article div:first-child
{
    width:100%;
    height:300px;
    padding:10px;
    text-align: justify;
}
.article_titre
{
    overflow: hidden;
    width:100%;
    height:30px;
}
.article_text
{
    height:180px;

    overflow: hidden;
    text-overflow: ellipsis;
}
.img_titre
{
    text-align: center;
    margin:auto;
    width:100%;
}

.info
{
    border: 1px solid #dbdbdb;
    margin:20px;
    background-color: #FFF;
    border-radius: 10px
}
.info div
{
    border: 5px solid red;
    border-top:none;
    border-bottom:none;
    border-right:none;
    padding:20px;
    padding-top:10px;
    border-radius: 10px 0px 0px 10px;
}