/*------------------------------------------------------- */
/*------------------------------------------------------- */
/*------------------------------------------------------- */
#panel0
{
    position:relative;
}
#panel0 .panel_adjust
{
    position: relative;
    left:3%;
    top: 0px;
    height: 300px;
}



/*------------------------------------------------------- */
/*------------------------------------------------------- */
/*------------------------------------------------------- */
#panel1
{
    position:relative;
}
#panel1 .panel_adjust
{
    position: relative;
    left:17%;
    top: 0px;
    height: 300px;
}


/*------------------------------------------------------- */
/*------------------------------------------------------- */
/*------------------------------------------------------- */
#panel2
{
    position:relative;
}
#panel2 .panel_adjust
{
    position: relative;
    left:31%;
    top: 0px;
    height: 300px;
}


/*------------------------------------------------------- */
/*------------------------------------------------------- */
/*------------------------------------------------------- */
#panel3
{
    position:relative;
}
#panel3 .panel_adjust
{
    position: relative;
    left:44%;
    top: 0px;
    height: 300px;
}


/*------------------------------------------------------- */
/*------------------------------------------------------- */
/*------------------------------------------------------- */
#panel4
{
    position:relative;
}
#panel4 .panel_adjust
{
    position: relative;
    left:58%;
    top: 0px;
    height: 300px;
}


/*------------------------------------------------------- */
/*------------------------------------------------------- */
/*------------------------------------------------------- */
#panel5
{
    position:relative;
}
#panel5 .panel_adjust
{
    position: relative;
    left:73%;
    top: 0px;
    height: 300px;
}


/*------------------------------------------------------- */
/*------------------------------------------------------- */
/*------------------------------------------------------- */
#panel6
{
    position:relative;
}
#panel6 .panel_adjust
{
    position: relative;
    left:87%;
    top: 0px;
    height: 300px;
}